[submodule "Thirdparty/Light_Glue_CPP"]
	path = Thirdparty/Light_Glue_CPP
	url = https://github.com/VSLAM-LAB/Light_Glue_CPP.git
[submodule "Thirdparty/SuperPoint-LightGlue-TensorRT"]
	path = Thirdparty/SuperPoint-LightGlue-TensorRT
	url = https://github.com/VSLAM-LAB/SuperPoint-LightGlue-TensorRT.git
[submodule "Thirdparty/g2o"]
	path = Thirdparty/g2o
	url = https://github.com/alejandrofontan/g2o.git
[submodule "Thirdparty/PoseLib"]
	path = Thirdparty/PoseLib
	url = https://github.com/PoseLib/PoseLib.git
[submodule "Thirdparty/mimalloc"]
	path = Thirdparty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "Thirdparty/placecell"]
	path = Thirdparty/placecell
	url = https://github.com/alejandrofontan/placecell.git
