build/
*~
lib/
.idea/
cmake-build-debug/
*.pyc
Vocabulary/
cmake-build-release/
bin/
share/
allfeature_vocabulary/
# pixi environments
.pixi/*
!.pixi/config.toml
Thirdparty/Segmentation-TensorRT/convert2onnx/efficientvit/
segmentation_models/
Thirdparty/MegaLoc-TensorRT/convert2onnx/megaloc/
megaloc_models/
