[submodule "Thirdparty/DBoW2"]
	path = Thirdparty/DBoW2
	url = https://github.com/alejandrofontan/DBoW2.git
[submodule "Thirdparty/Light_Glue_CPP"]
	path = Thirdparty/Light_Glue_CPP
	url = https://github.com/VSLAM-LAB/Light_Glue_CPP.git
[submodule "Thirdparty/SuperPoint-SuperGlue-TensorRT"]
	path = Thirdparty/SuperPoint-SuperGlue-TensorRT
	url = https://github.com/VSLAM-LAB/SuperPoint-SuperGlue-TensorRT
